.img--logo {
    padding: 20px;
}
.img--avatar{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img--frame{
    margin: auto;
    border: solid 1px $h-color;
    padding: 10px;
    margin-top: 50px;
}