.headline--secondary {
    margin-top: 50px;
    font-size: 16px;
    color: $h-color;
}

.headline--primary {
    color: $prime-color;
    width: 250px;
    line-height: 30px;
    margin-left: 50px;
}

.blockquote{
    border-left: solid 5px $prime-color;
    padding-left: 10px;
    color: $second-color;
    font-style: italic;
    font-size: 25px;
}

.link {
    margin: auto;
}